.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .8rem;
  margin: 1.6rem 0;
}

.pagination--button {
  height: 3.2rem;
  width: 3.2rem;
  border: .1rem solid #F1F1F1;
  border-radius: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  transition: .5s ease background-color, .5s ease border-color;
}

.pagination--button:disabled {
  color: #656565;
  border-color: #333;
  background-color: #333;
  cursor: not-allowed;
}

.pagination--button.active {
  background-color: #EF4934;
  border-color: #EF4934;
  color: var(--text-color);
}

.pagination--button:hover:not(:disabled) {
  background-color: #D43824;
  border-color: #D43824;
}

.pagination--button i {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
