.product {
  border: .1rem solid var(--product-border);
  border-radius: 2rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  max-width: 117.5rem;
  min-height: 47rem;
  padding: 3.5rem 7.5rem;
  justify-content: space-between;
}

.product__img {
  display: flex;
  position: relative;
  justify-content: flex-start;
  column-gap: 2rem;
  min-height: 40rem;
  height: 100%;
}

.product__img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
}

.img-secondary {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 2rem;
}

.product__img-primary {
  border-radius: 2rem;
  width: 19vw;
  object-fit: cover;
}

.product__descr-title {
  margin-top: 6rem;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.9rem;
}

.product__descr-text {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.2rem;
}

.price__num-sumbol {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.95rem;
}

.price__number {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.9rem;
}

.product__descr--back,
.product__descr--category,
.price--add {
  font-size: 1.6rem;
  line-height: 1.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  min-width: 4rem;
  height: 4rem;
  gap: .6rem;
  background-color: transparent;
  color: var(--text-color);
  border: .1rem solid var(--product-buttons-border);
  cursor: pointer;
  padding: .5rem 1.5rem;
}

.product__descr--back i,
.product__descr--category {
  color: var(--product-category-text);
}

.product__descr--back {
  color: var(--product-buttons-text-second);
}

.product__descr {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 50rem;
}

.product__descr--back {
  position: absolute;
  right: -4rem;
  top: 0;
}

.product__descr--category {
  margin-top: 2rem;
}

.price--add {
  background-color: #EF4934;
  transition: .5s ease background-color;
  border-color: #EF4934;
  color: #FFF;
}

.price--add:hover {
  background-color: #D43824;
  border-color: #D43824;
}

.product__descr-price {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.price--add i {
  font-size: 2.4rem;
}

.pagination--button {
  display: none;
  position: absolute;
  border-radius: 1rem;
  top: 35%;
  background-color: rgba(255, 255, 255, .7);
  cursor: pointer;
  padding: 1rem;
}

.pagination--button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.pagination--button i {
  font-size: 2.4rem;
}

.pagination--button:first-of-type {
  left: -3rem;
}

.pagination--button:last-of-type {
  right: -3rem;
}

@media (max-width: 991px) {

  .product {
    flex-wrap: wrap;
  }

  .product__descr-title {
    margin-top: 8rem;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.2rem;
  }

  .product__img {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 auto;
    row-gap: 2rem;
  }

  .product__img-wrapper {
    flex-direction: row;
    column-gap: 2rem;
  }

  .product__img-primary {
    margin: 0 auto;
    width: 80%;
  }

  .pagination--button {
    display: block;
  }

  .product__descr--back {
    position: absolute;
    top: 92.5%;
    right: 81%;
  }

  .price__number {
    position: absolute;
    font-size: 2.7rem;
    line-height: 3.3rem;
    font-weight: 600;
    top: 2rem;
    left: 0;
  }

  .product__descr-price {
    justify-content: end;
  }
}

@media (max-width: 400px) {

  .product {
    flex-wrap: wrap;
    padding: 3.5rem;
  }

  .product__descr--back {
    top: 95%;
    right: 70%;
  }
}