* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
}

.dark {
  --background-color: #111;
  --text-color: #FFF;
  --second-text-color: #111;
  --pagination-bg: #333;
  --pagination-border: #333;
  --pagination-text: #656565;
}

.light {
  --background-color: #FFF;
  --text-color: #111;
  --second-text-color: #FFF;
  --pagination-bg: #FFF;
  --pagination-border: #F1F1F1;
  --pagination-text: #F1F1F1;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10rem 12% 2rem;
  justify-content: space-around;
}

footer {
  padding: 0 12%;
}

@media (max-width: 1200px) {

  html {
    font-size: 55%;
  }
}

@media (max-width: 576px) {

  html {
    font-size: 50%;
  }
}